h1, h2, h3 {
    color: red;
}

.headers {
    color: green;
}

.bold {
    font-weight: 700;
}
/* 
.left-column {
    float: left;
    height: 100%;
    background-color: aqua;
}

.right-column {
    
}

img {
    width: 250px;
} */