{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-3">
      <h3>Menu</h3>

      <ul>
        <li>
          <a href="index.html">Strona główna</a>
        </li>
        <li>
          <a href="form.html">Formularz</a>
        </li>
      </ul>
    </div>

    <div class="col-9">
      <h1 class="headers">Tytuł 1</h1>
      <h2>Tytuł 2</h2>
      <h3>Tytuł 3</h3>

      <p>My <u class="bold ">cat</u> is very grumpy koty</p>

      <a href="http://google.com">to jest link
        <img src="images/cat.png">
      </a>

      <span>pierwszy div</span><span>drugi div</span>


      <h5 class="headers">Lista zadań</h5>
      <ol>
        <li>pierwsze zadanie</li>
        <li>drugie</li>
        <li>trzecie</li>
        <li>czwarty</li>
      </ol>

      <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>


      <button type="button" class="btn btn-primary">Primary</button>

      <button>zwykly</button>
    </div>
  </div>

{% endblock content %}